.img-header-ha {
	width:180px;
	height:auto;
	margin-top:-20px;
}

.topnav {
	padding:13px;
	margin-bottom:2px;
}

.header-margin-adjust {
	margin-bottom:2cm;
}

.sidebar-margin-top {
	margin-top:1.5cm;
}

.login-dropdown {
	font-size:16px;
}

.dropdown-menu {
    width: auto !important;
    height: 100px !important;
}

.search-table-title{
	text-align: center;
}

.search-group {
	margin-top:20px;
	color:white;
}

.search-form {
	background-color:#191970;
	 border: 2px solid white;
	 border-radius: 2%;
}

.search-title-label {
	padding-top:10px;
	text-align:center;
	color:white;
}

.well {
	margin-top:10px;
}

div.footer-row {
	
}

em {
	background-color: #FFFF00;
}

.read-more-button {
	float: right;
	
}

span.search-sort-icon {
	display:inline;

}