body{ 
    background: url(../images/ha_hq.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form {
    width: 60%;
    margin-left: 20%;
    margin-right:20%;
}

.navbar {
    margin-top:1px;
    border-width: 2px;
    background-color:transparent;
}

.nav-header {
   margin-left: 26%;
   margin-bottom: 5px;
}

.navbar-nav {
    margin-left: 23%;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.nav li.reg-nav {
    border: 2px solid white;
    margin-left: 10px;
    text-align: center;
    border-radius: 10%;
    font-size: 14px;
}

ul.nav li.reg-nav:hover{
    background-color: white;
    opacity: 0.9;
}

ul.nav li.reg-nav a{
    color:white;    
}

.label-reg-form {
    color: white;
    text-shadow: 3px 2px black;
    font-family: "Helvetica";
}

.form-notice {
	color:red;
}

.setup-panel {
    width: 60%;
    margin-left: 20%;
    margin-right:20%;
    background-color:lightgray
}

.img-header-ha {
    width:180px;
	height:auto;
    margin-top: -10px;
    margin-bottom: -10px;
}

.nextBtn{
    background-color: #008CBA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5%;

}

.nextBtn:hover {
    background-color: #008CBA;
    opacity: 0.8;
}

.nextBtn:active, .nextBtn:focus {
    background-color: #008CBA;
}

.btn-submit, .btn-submit:hover, .btn-submit:active{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5%;
}

.confirm-form-group{
    margin-left: 20px;
    margin-bottom: 30px;
}

.label-first-name{
    margin-left: 20px;
}

.step-header {
	margin-bottom: 30px;
}

.footer {
	margin-top:5%;
    margin-left: 30%;

    bottom:100px;
    height:30px;
    width:50%;
    font-size:15px;
}



/* login form */

.form-signin {
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border: 10px solid #ccc;
  background-color: white;
}

.label-login-form {
    color: white;
    text-shadow: 3px 2px black;
    font-family:"Helvetica";
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.login-container {
    padding: 16px;
    margin-left: 35px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5%;

}

button:hover {
    opacity: 0.8;
}

input[type=text].login-form-input, input[type=password].login-form-input {

    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
    
}

span.psw {
    float: right;
    padding-top: 16px;
}

.from-group-help {
    margin-top:-20px;
    padding:16px;
}
